<!DOCTYPE html>

<html ng-app>
    <head >
    <script type="text/javascript"
        src="scripts/angular/angular.js"></script>        
    <link rel="stylesheet" href="style/bootstrap.css"></link>
    </head>
    <body>
        <div>
            <h2>Create your own Knock Knock Jokes!</h2>
            <div>
                <span>Knock Knock!</span>
                <span> Who's there?</span>
                <input type="text" ng-model="name"/>
                <span> {{name}} Who ? </span>
                <input type="text" ng-model="punchLine"/>
            </div>
            <input ng-model="name" type="text"/>
            <label>Hello {{name}} </label>
            
        </div>
    </body>
   </html>